.l-calculator {
  
  &__container {
    @include rem(border-radius, 20);
    @include rem(height, 563);
    @include rem(width, 406);

    background: $dark-grey;
  }

  &__result {
    @include rem(height, 130);
    @include resultPadding(16, 24, 0);

    input {

      &:disabled {
        @include rem(font-size, 64);
  
        color: $white;
        text-align: end;
        width: 100%;
      }

      &::selection {
        background-color: $light-grey;
      }
    }
  }
}